<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.direct_share">

    <application>

        <provider
            android:name="com.direct_share.ShareExtendProvider"
            android:authorities="${applicationId}.shareextend.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

    </application>
</manifest>
